{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "next",
    "next/core-web-vitals",
    "prettier"
  ],
  "plugins": ["@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "rules": {
    "@next/next/no-img-element": "off",
    "react-hooks/exhaustive-deps": "off",
    // StorybookでReactHooksを使うため
    "react-hooks/rules-of-hooks": "off",

    // コンポーネントのMemo化時に怒られるため
    "react/display-name": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ],
    "import/order": [
      "error",
      {
        "groups": [["external"], "internal", ["parent", "sibling", "index"]],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "{next,next/**}",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "@/auth/**",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "@/api/**",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "@/hooks/**",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "@/generated/**",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "@/entities/**",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "@/components/**",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "@/utils/**",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "@/styles/**",
            "group": "internal",
            "position": "after"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  }
}
